@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container {
        @apply w-full smm:min-w-full sm:min-w-0 md:min-w-0 
        md:max-w-1200 smm:px-[15px] md:px-0
    }
}





/*          utilities         */

@layer utilities {



    /*     home-view      */

    .form {
        @apply w-full flex flex-col md:flex-row gap-[15px];
      }
      
      .input {
        @apply rounded-curve-100 flex-1 bg-transparent outline-none
         border-[1px] px-[32px] py-[12px] md:py-[32px]
          border-white-iamdb-1  text-xsm md:text-md text-white;
      }
      
      .input::placeholder {
        @apply text-white-iamdb-1;
      }
      
      .submit {
        @apply bg-red text-white font-roboto font-normal 
        smm:text-xsm md:text-md inline-flex;
      }

      .home-box {
        @apply  w-full flex flex-col items-center md:items-end 
        pt-[230px] md:pt-[270px] gap-[170px] md:gap-[180px]
      }

      .main-title{
        @apply font-roboto font-medium text-xlg md:text-2xlg
         text-white smm:leading-[56px] md:leading-[112.5px]
      }

      .list-home {
        @apply flex flex-col gap-[50px]
      }



      /*       movie-view      */

      .box-main-view {
        @apply w-full flex flex-col items-center
      }

      /*   container-1 in movie-view   */

      .container-1 {
        @apply md:px-[40px] mt-[-100px] md:mt-[-210px] 
        relative z-[888]
      }

      .row-container-1 {
        @apply gap-[45px]
      }

      .card-imdb {
        @apply smm:hidden md:flex
      }

      .box-middle {
        @apply  pt-[55px]
      }

      .box-right {
        @apply md:pt-[55px]
      }

      .title-cast {
        @apply font-roboto font-bold text-xmd md:text-2xmd 
        leading-[50px] text-white-iamdb-1
      }

      .box-card-cast {
        @apply flex flex-col md:max-w-[276px] gap-[15px] mt-[15px]
      }

      .btn-more {
        @apply text-red mt-[20px] ml-[100px] md:ml-[-20px]
      }

      /*      container-2      */


      .container-2 {
        @apply mt-[100px]
      }

      .title-photo{
        @apply text-white-iamdb-1 font-roboto font-bold
         text-xmd md:text-2xmd leading-[50px]
      }

      .list-photos {
        @apply mt-[20px] gap-[20px] justify-between
      }




      /*        container-3      */


      .sec-3 {
        @apply flex flex-col justify-center items-center mt-[50px]
      }

      .container-3 {
        @apply w-full pl-[45px]
      }

      .title-similar{
        @apply  text-white-iamdb-1 font-roboto font-bold 
        text-xmd md:text-2xmd leading-[50px]
      }

      .box-slider {
        @apply w-screen px-[2px]
      }


      /*       container-4      */

      .container-4 {
        @apply mt-[50px]
      }

      .sec-4 {
        @apply md:pl-[45px]
      }

      .title-faqs {
        @apply text-white-iamdb-1 font-roboto leading-[50px]
        text-xmd md:text-2xmd font-bold
      }



      /*            box-loading            */

      .box-loading {
        @apply h-screen w-full flex flex-col items-center
      }





      /*          ImgBox.vue         */

      .overlay {
        @apply w-full h-full bg-black bg-opacity-71 absolute
         top-0 flex justify-center  items-center z-[999] 
         rounded-curve-12 opacity-0 hover:opacity-100
      }


      .img-box-large {
        @apply w-screen h-screen fixed top-0 flex left-0 
        justify-center items-center backdrop-blur-xl z-[9999]
      }

      .btn-close{
        @apply static hidden md:absolute md:top-[120px] 
        md:z-[9999] md:right-[245px] md:flex
      }

      .img {
        @apply smm:w-[140px] md:w-[286px] rounded-curve-12;
      }
      
      .img-larg {
        @apply smm:w-[280px] md:w-[943px] rounded-curve-12 
      }





      /*              CardImdb.vue              */


      .indicator-box {
        @apply flex items-center gap-[30px] mt-[20px] px-[15px]
      }

      .imdb-votes {
        @apply text-white-iamdb-1 font-bold text-2xsm
      }

      .imdb-rates {
        @apply text-white-iamdb-1
      }

      .text-rating {
        @apply font-roboto font-normal text-xsm text-white-iamdb-1
      }


      /*            CardSlider.vue          */

      .box-img-slider {
        @apply w-[230px] md:w-[276px] h-[342px] md:h-[409px]
      }

      .box-img-slider .img {
        @apply w-full h-full object-cover rounded-curve-12 
      }

      .box-footer {
        @apply flex flex-nowrap items-center justify-between 
        mt-[12px]
      }

      .box-footer .title {
        @apply max-w-[198px] font-roboto font-bold
         text-white-iamdb-1 leading-[18px] md:leading-[21px] 
         text-xsm md:text-2xsm whitespace-nowrap text-ellipsis
          overflow-hidden
      }

      .box-flex-footer {
        @apply flex flex-nowrap items-center gap-[6px]
      }

      .box-average {
        @apply font-roboto font-normal leading-[18px] 
        md:leading-[21px] text-white-iamdb-0.4 text-xsm 
        md:text-2xsm
      }



      /*       accordion       */

      .collapse-title {
        @apply font-roboto text-2xsm md:text-md leading-[21px] md:leading-[24px] 
        font-bold ml-[-16px] text-white-iamdb-1 
      }

      .collapse-content{
        @apply border-red border-l-2
      }

      .collapse-content-text {
        @apply text-white-iamdb-0.6
      }
      
}







/*         component        */

@layer components {

    /*   img-box    =>  component  */
    .img-box {
        @apply relative cursor-pointer 
    }

    /*   card-imdb       =>   component     */

    .card-imdb-main {
        @apply smm:hidden md:flex md:flex-col
    }


     /*   card-slider     =>   component     */

     .card-slider {
        @apply w-[230px] md:w-[276px]
     }


     /*   accordion     =>   component     */
     .accordion{
        @apply collapse rounded-none
      }
    
}